# Python
*.pyc
__pycache__/
*.pyo

# Virtual environments
env/
.venv/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# PDF files
*.pdf
